.danger-tooltip {
    --bs-tooltip-bg: var(--bs-danger);
}

#setCog {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    .offcanvas {
        background-color: black;
    }

    h1 {
        color: white;
    }

    h5 {
        color: white;
    }

    .form-control {
        background-color: black;
        color: white;
    }

    label {
        color: white;
    }

    body {
        background-color: black;
    }

    .btn-close {
        background-color: white;
    }
}


.slateAppeared {
    animation-name: appearSlate;
    animation-duration: 2s;
}

@keyframes appearSlate {
    from {
    
        transform: translate(-50%, -50%) scale(0);
    }
    
    to {
    
        transform: translate(-50%, -50%) scale(1);
    }
}

#slate {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}